@theme {
  --color-primary: #84C7AE;
  --color-secondary: #0288D1;
  --color-background: #F5F7FA;
  --color-text: #212121;
  --color-border-light: rgba(0, 0, 0, 0.06);
  --bg-login: url('/src/assets/images/login-bg.png');
}

@layer base {
  [data-theme="light"] {
    --color-primary: #84C7AE;
    --color-secondary: #0288D1;
    --color-background: #F5F7FA;
    --color-text: #212121;
  }
}
